{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moja Strona</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>


<div class="wrapper">
<div class="navbar">
    <form class="login-form">
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" placeholder="Twój login">
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" placeholder="Twoje hasło">
        <button type="submit">Zaloguj</button>
        <button type="submit" class="register-button">Zarejestruj</button>
    </form>
</div>

<div class="content">

    <div class="center-container">
        <div class="left-container">
            <a href="{% url 'printing_list' %}" class="menu-link">Kolejka drukowania</a>
            <a href="{% url 'printer_list' %}" class="menu-link">Moje drukarki</a>
            <a href="{% url 'project' %}" class="menu-link">Moje projekty</a>
            <a href="{% url 'add_project' %}" class="menu-link"><b>↳  dodaj projekt</b></a>
            <a href="{% url 'filament' %}" class="menu-link">Filamenty</a>
            <a href="{% url 'parts' %}" class="menu-link">Części</a>
        </div>

        <div class="right-container">
            <form method="post" class="form-container" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="submit-addFilament-button">Dodaj projekt</button>
            </form>
        </div>
    </div>
</div>

    <footer class="bottom-bar">
        --- 3d PRINT HUB ---
        <p></p>
    </footer>
</div>
</body>
</html>
