{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moja Strona</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="wrapper">

<div class="navbar">
    <form class="login-form">
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" placeholder="Twój login">
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" placeholder="Twoje hasło">
        <button type="submit">Zaloguj</button>
        <button type="submit" class="register-button">Zarejestruj</button>
    </form>
</div>

<div class="content">

    <div class="center-container">
        <div class="left-container">
            <a href="{% url 'printing_list' %}" class="menu-link">Kolejka drukowania</a>
            <a href="{% url 'printer_list' %}" class="menu-link">Moje drukarki</a>
            <a href="{% url 'project' %}" class="menu-link">Moje projekty</a>
            <a href="{% url 'filament' %}" class="menu-link">Filamenty</a>
            <a href="{% url 'parts' %}" class="menu-link">Części</a>
            <a href="{% url 'add_parts' %}" class="menu-link"><b>↳  dodaj części</b></a>
        </div>

        <div class="right-container">
            <form method="post" class="form-container">
                {% csrf_token %}
                <div class="form-field">
                    <label for="{{ form.name.id_for_label }}">Nazwa części:</label>
                    {{ form.name }}
                </div>

                <div class="form-field">
                    <label for="{{ form.description.id_for_label }}">Opis części:</label>
                    {{ form.description }}
                </div>

                <div class="form-field">
                    <label><b>Przypisz do drukarki:</b></label>
                    <br>
                    {% for printer in printers %}
                    <input type="checkbox" id="printer_{{ printer.id }}" name="printers" value="{{ printer.id }}">
                    <label for="printer_{{ printer.id }}">{{ printer.name }}</label><br>
                    {% endfor %}
                </div>

                <button type="submit" class="submit-addFilament-button">Dodaj część</button>
            </form>
        </div>
    </div>
</div>

    <footer class="bottom-bar">
        --- 3d PRINT HUB ---
        <p></p>
    </footer>
</div>
</body>
</html>
