{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moja Strona</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>


<div class="wrapper">
<div class="navbar">
    <form class="login-form">
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" placeholder="Twój login">
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" placeholder="Twoje hasło">
        <button type="submit">Zaloguj</button>
        <button type="submit" class="register-button">Zarejestruj</button>
    </form>
</div>

<div class="content">

    <div class="center-container">
        <div class="image-description-container">
            <div class="image-box">
                <img src="{% static 'images/printer.jpg' %}" alt="Obrazek" width="400" height="400">
            </div>
            <div class="description-box">
                <p>Aplikacja 3D Print Hub to kompleksowe narzędzie zaprojektowane specjalnie
                    dla entuzjastów i profesjonalistów w dziedzinie druku 3D.
                    Stanowi idealne rozwiązanie do efektywnego zarządzania drukarkami 3D,
                    projektami, filamentami oraz akcesoriami związanych z tym dynamicznie
                    rozwijającym się obszarem technologii.</p>
                <p>Dzięki 3D Print Hub użytkownicy zyskują nie tylko kontrolę nad swoimi
                    drukarkami 3D, ale także poprawiają swoją efektywność poprzez
                    skoncentrowanie zarządzania projektami, materiałami oraz kolejkami
                    wydruków w jednym miejscu. To wszechstronne narzędzie, które ułatwia
                    pracę z technologią druku 3D i dostarcza niezbędne funkcje do efektywnego
                    wykorzystania tej fascynującej technologii.</p>
                <a href="{% url 'printer_list' %}" class="learn-more-link">Dowiedz się więcej</a>

            </div>
        </div>
    </div>
</div>
    <footer class="bottom-bar">

        <p>
--- 3d PRINT HUB ---
        </p>
    </footer>


</div>
</body>
</html>
