{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moja Strona</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="navbar navbar-top">
    <div class="navbar-container">
        <form class="login-form">
            <label for="login">Login:</label>
            <input type="text" id="login" name="login" placeholder="Twój login">
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" placeholder="Twoje hasło">
            <button type="submit">Zaloguj</button>
            <button type="submit" class="register-button">Zarejestruj</button>
        </form>
    </div>
</div>

<div class="content">
    <div class="branding">
        <h1>--- 3d PRINT HUB ---</h1>
    </div>
    <!-- Tutaj umieść zawartość konkretnej strony -->
</div>

<div class="navbar navbar-bottom">
    <div class="navbar-container">
        <!-- Dodaj treść do paska na dole strony -->
    </div>
</div>

</body>
</html>
