{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moja Strona</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="wrapper">

<div class="navbar">
    <form class="login-form">
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" placeholder="Twój login">
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" placeholder="Twoje hasło">
        <button type="submit">Zaloguj</button>
        <button type="submit" class="register-button">Zarejestruj</button>
    </form>
</div>

<div class="content">

    <div class="center-container">
        <div class="left-container">
            <a href="{% url 'printing_list' %}" class="menu-link">Kolejka drukowania</a>
            <a href="{% url 'printer_list' %}" class="menu-link">Moje drukarki</a>
            <a href="{% url 'project' %}" class="menu-link">Moje projekty</a>
            <a href="{% url 'filament' %}" class="menu-link">Filamenty</a>
            <a href="{% url 'parts' %}" class="menu-link"><b>Części</b></a>
            <a href="{% url 'add_parts' %}" class="menu-link">↳  dodaj części</a>
        </div>

        <div class="right-container">
            <table class="filament-table">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Opis</th>
                        <th>Drukarki</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    {% for part in parts %}
                    <tr>
                        <td>{{ part.name }}</td>
                        <td>{{ part.description }}</td>
                        <td>
                            {% for printer in part.printers.all %}
                                {{ printer.name }}{% if not forloop.last %}, {% endif %}
                            {% empty %}
                                Brak przypisanych drukarek
                            {% endfor %}
                        </td>
                        <td>
                            <form method="post" action="{% url 'delete_part' part.id %}">
                                {% csrf_token %}
                                <button type="submit" class="delete-button">Usuń</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                <tr>
                        <td colspan="3">&nbsp;</td>
                </tr>
                <button type="button" onclick="window.location.href='{% url 'add_parts' %}';" class="submit-addFilament-button">Dodaj Części</button>
        </div>

    </div>
</div>

    <footer class="bottom-bar">
        --- 3d PRINT HUB ---
        <p></p>
    </footer>
</div>
</body>
</html>
